.body{
  background: #FFF5E8;
}
.cid-u7iIUPFcSx {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-u7iIUPFcSx .mbr-fallback-image.disabled {
  display: none;
}
.cid-u7iIUPFcSx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u7iIUPFcSx .mbr-text {
  color: #000000;
}
.cid-u7iIUPFcSx .mbr-section-subtitle {
  color: #000000;
  text-align: left;
}
.cid-u7iIUPFcSx .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u7iIUPFcSx .main-button {
    margin-bottom: 2rem;
  }
}
.cid-u7iIUPFcSx .mbr-section-subtitle,
.cid-u7iIUPFcSx .main-button {
  color: #000000;
}
.cid-u7iIUPFcSx .google-map {
  height: 30rem;
  position: relative;
  border-radius: 2rem;
}
.cid-u7iIUPFcSx .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.cid-u7iIUPFcSx .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-u7iIUPFcSx .google-map[data-state] {
  background: #e9e5dc;
}
.cid-u7iIUPFcSx .google-map[data-state="loading"] [data-state-details] {
  display: none;
}


.h{
  height: 80px;
  border-radius: 25px;
}

.a{
  font-weight: 400;
  text-align: center;
}

.b{
  background-color: #2EC5B6;
  border-radius: 25px;
  color: black;
  font-weight: 400;
  height: 60px;
  width: 200px;
  font-size: 20px;
  border: #6b6763;
}
